<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
    <title>Sign Up to TechSprouts Interaction Channel</title>
    <style>
        body {
            margin: 0px;
            background-color: white;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            font-family: 'Lobster';
        }
        form {
            display: flex;
            flex-direction: column;
            border-radius: 50px;
            padding: 10px 100px 10px 100px;
            justify-content: center;
            align-items: center;
            width: fit-content;
            background-color: rgba(128, 128, 128, 0.56);
        }
        form input {
            width: 500px;
            text-align: center;
            margin: 10px;
            border-radius: 50px;
            border: none;
            height: 30px;
        }
        header {
        background-image: url('https://cdn.pixabay.com/photo/2013/10/02/23/03/mountains-190055__340.jpg');
        background-size: cover;
        width: 100%;
        margin: 0px;
        margin-bottom: 20px;
        position: relative;
        }

        header:before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(to bottom, rgba(144, 0, 0, 0.6), rgba(32, 1, 89, 0.3));
        z-index: 1;
        }

        header h1 {
        position: relative;
        z-index: 2;
        color: #fff;
        font-size: 3rem;
        text-align: center;
        padding: 50px 0;
        }

    </style>
</head>
<body>
    <header>
        <h1>Welcome to TechSprouts Interactive Community</h1>
    </header>      
    <form action="/sign-up" method="post">
        <h1>Sign Up</h1>
        <input type="text" required="true" placeholder="Enter Username" name="user_name">
        <input type="email" placeholder="Enter Email Address" required="true" name="email">
        <input type="password" placeholder="Enter Password" name="password" required="true">
        <button type="submit">Submit</button>
    </form>
    <p>Already have an account?</p>
    <a href="/sign">Sign In</a>
</body>
</html>
